<h1>Bienvenido uwu</h1>

<div class="menu-contenido">
    <div class="contenido-item">
        <img src="" alt="">
        <p class="nombre-contenido">Pagina</p>
    </div>
    <div class="contenido-item">
        <img src="" alt="">
        <p class="nombre-contenido">Pagina</p>
    </div>
    <div class="contenido-item">
        <img src="" alt="">
        <p class="nombre-contenido">Pagina</p>
    </div>
    <div class="contenido-item">
        <img src="" alt="">
        <p class="nombre-contenido">Pagina</p>
    </div>
    <div class="contenido-item">
        <img src="" alt="">
        <p class="nombre-contenido">Pagina</p>
    </div>

</div>

<a href=<?php route("auth/destroySession")  ?> data-turbolinks=false>Cerrar Sesion</a>