<?php if(isset($category->id )){?>
<div class="form-group" style="display: none;">
  <label for="name">id</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id" value="<?= $category->id ?>"  >
</div>
<?php } ?>
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<?= $category->name ?>">
</div>
<div class="form-group">
  <label for="description">description</label>
  <input type="text" class="form-control" id="description" name="description" placeholder="Description"
    value="<?= $category->description ?>">
</div>
