<div class="page-header">
  <nav aria-label="breadcrumb" style="float: right;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href=<?=route('admin') ?>>Dashboar</a></li>
      <li class="breadcrumb-item active" aria-current="page">Lista de
        <?=  $title ?>
      </li>
    </ol>
  </nav>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h4 class="card-title">Lista de
        <?=  $title ?>
      </h4>

      <div class="dropdown">
        <a class="" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
          <h6 class="dropdown-header">Opciones</h6>
          <div>

            <a class="dropdown-item" href="<?= route('product/create') ?>">
              </i>Agregar</a>
          </div>
          <a class="dropdown-item" href="#">Salir</a>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>stock</th>
                <th>status</th>
                <th>actions</th>
              </tr>
            </thead>
            <tbody>
              <?php foreach($products as $product){ ?>
              <tr>
                <td>
                  <?= $product->id ?>
                </td>
                <td>
                  <?= $product->name ?>
                </td>
                <td>
                  <?= $product->price ?>
                </td>
                <td>
                  <?= $product->stock ?>
                </td>

                <td>
                  <?= $product->status ?>
                </td>
                <td>
                  <a href=<?=route('product/edit/'.$product->id) ?> >
                    <i class="fas fa-edit"></i>
                  </a>
                  <a onclick="deleteproduct('<?= $product->id ?>')">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
              <?php }?>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let deleteproduct = id => {

    fetch("<?= route('product/') ?>" + id, {
      method: "delete",
      headers: {
        'Content-Type': 'application/json'
      }
    })
      .then(respose => respose.json())
      .then(data => {
        console.log(data)
        Turbolinks.visit("<?= route('product') ?>")
      })

  }
</script>