*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts{
    margin: auto;
    width:550px;
    /* background: red; */
}

.post{
    /* background: rosybrown; */
    width: 100%;
    max-height: 250px;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    box-shadow: 0px 0px 1px 0px;
}

.post-header{
    width: 98%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* background: slateblue; */
}
.post-header img{
    width: 40px;
}
.post-time{
   width: 100px;
   font-size: 15px;
   /* background: chartreuse; */
}
.post-user{
    flex: 6;
    margin-left: 25px;
}

.post-body{
    width: 95%;
}
.post-footer{
    width: 98%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* background: slateblue; */
}

/**/

.public-post{
    margin: 10px auto;
    width:550px;
    height: 100px;
    /* background: cornflowerblue; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 0;
}


.post-add{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.post-add img{
    width: 50px;
    height: 50px;
}

.post-add textarea{
    flex: 1;
}

.public-footer{
    width: 98%;
    /* background: rosybrown; */
    display: flex;
    justify-content: space-between;
}
.btn-public-post{
    width: 80px;
}