<div class="page-header">
  <nav aria-label="breadcrumb" style="float: right;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href=<?=route('admin') ?>>Dashboar</a></li>
      <li class="breadcrumb-item"><a href=<?=route('category') ?> >Lista de Categorias</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <?= $title ?>
      </li>
    </ol>
  </nav>
</div>
<div class="card">
  <?php if(!is_null($errors)){
      foreach($errors as $error){?>
  <div class="alert alert-warning" role="alert" style="display: inline; width: 90%; margin:auto; margin-top: 10px;">
    <?= $error ?>
  </div>
  <?php }} ?>
  <div class="card-body">

    <div class="row">
      <div class="col-12">
        <form action="<?= route('category/store') ?>" method="POST">
          <?php template('categories.form', ["category"=>$category]) ?>
          <button type="submit" class="btn btn-primary mr-2">Crear</button>
          <a class="btn btn-light" href=<?=route('category') ?> >Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</div>